<%= form_for @listing do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %><br />
  Address : <%= f.text_field :user_address %><br />
  Price : <%= f.number_field :price %><br />
  Location : <%= f.text_field :location %><br /> 
  Description : <%= f.text_area :description %><br />
  No. of Guest : <%= f.number_field :no_of_guest %><br /> 
  Home Type : <%= f.text_field :home_type %><br /> 
  Room Type : <%= f.text_field :room_type %><br /> 
  No. of Bed : <%= f.number_field :no_of_bed %><br /> 
  No. of Bathroom : <%= f.number_field :no_of_bathroom %><br />
 
  <class="input-group input-daterange">
    Availability Period : <%= f.date_field :availability %>
    <class="input-group-addon">to
    <%= f.date_field :available_until %><br />

    <label>My Avatar</label>
    <%= f.file_field :photos, multiple: true %><br />
    <class="submit-field">
    <%= f.submit "Submit now!"%>
<% end %>
